@charset "utf-8";
/* CSS Document */
@import url(buttons.css);

div#content{margin: 0 0 0 180px; position:relative;}
* + html div#content {position:static;}
div#content.no-nav {margin-left:0;}
div#content .main {float:left; width:430px; padding:10px; border-right:1px solid #FFF; color:#FFF;}
div#content.no-nav .main {width:610px;}
div#content .help-zone {margin-left:450px; padding:10px 0 10px 10px; width:330px; color:#FFF; border-left:1px solid #FFF;}
div#content.no-nav .help-zone {margin-left:630px;}
* html div#content .help-zone {border:none;}
* + html div#content .help-zone {border:none;}
div#content .help-zone .call2action input {padding:10px 20px;}

div#content h1 {font-size:1.3em; color:#FFF;}
div#content h1.backline {font-size:1.9em; color:#444; position:absolute; top:30px; left:330px; text-align:center; width:350px;}
* + html div#content h1.backline {left:450px;top:150px;}
div#content h3 small {font-size:0.6em; font-weight:normal;}
div#content p {color:#EEE; margin-bottom:5px;}
div#content p strong {color:#ffcc00}
div#content p.intro {margin:0 20px; margin-bottom:10px;}
div#content p a, div#content ul a {color:#FFF;}

div#content h2 {font-size:1.6em; color:#99CC00; margin-bottom:10px; font-weight:normal;}
div#content .help-zone h2:first-letter {text-transform:capitalize;}
div#content .help-zone h2 span {color:#FFCC00;}
div#content .help-zone h2 span:first-letter {color:#FFCC00;text-transform:capitalize;}
div#content h3 {font-size:1.3em; color:#ffcc00; margin-bottom:10px; font-weight:normal;}
div#content h3.spacer {margin-top:43px;}

/*Common main & help-zone */
div#content input, div#content select { border-style:solid; border-width:1px 2px 2px 1px; border-color:#ccc #999 #999 #ccc; padding:3px;}
div#content select { width:207px;}
div#content input.highlight {border-color:#999 #333 #333 #999; background:#EEE;}

/*Buttons */
div#content .main .buttons a { color:#333;}
div#content .main .buttons a:hover { color:#666;}

.buttons {float:right; margin-top:5px;}
div#content .login-box .buttons input {padding:10px 30px; float:none; background:#ccdc00; font-weight:bold; color:#333;}
div#content .login-box .buttons input:hover {padding:10px 30px; float:none; background:#b7c50a; font-weight:bold; color:#FFF;}

div#content .intro {margin-bottom:20px;}

/*Specific main */
div#content .main .object, #visuel .object { width:160px; height:350px; margin:0 auto;}

div#content .main div input {width:198px;}
div#content .main div input.hour {width:20px;}
div#content .main a:hover {text-decoration:none;}
div#content .main .hint { border-left:5px solid #CCC; padding-left:10px; font-size:0.875em; margin:5px 10px; color:#ddd;}
div#content .main .hint.onfield {margin-left:120px;}
* html div#content .main .hint.onfield {margin-left:110px;}
div#content .main .hint a{color:#EEE;}
div#content .main .warning { border:2px solid #333; border-style:none solid solid none; color:#333; padding:10px 5px 10px 50px; background: #eee url(../images/layout/exclamation.gif) no-repeat left 10px; font-size:0.875em; line-height:1.5em;}
div#content .main .warning a {color:#000;}

div#content .main .leftcol, div#content .main .rightcol {float:left; width:300px; margin:0 10px 0 0;}
div#content .main .specialcol {width:350px; float:right;}
div#content .main .specialcol h2 {color:#99CC00;}
div#content .main .specialcol .field label span {width:110px; margin-right:10px;}
* html div#content .main .specialcol .field label span {width:98px;}
div#content .main .specialcol .field input {width:210px;}
div#content .main .specialcol .call2action {margin:5px 0;}
div#content .main .specialcol .call2action {margin:5px 0;}
div#content .main .call2action input {width:auto; overflow:visible; padding:10px 20px;}

/*Specific help-zone */
div#content .help-zone .clear {clear:right;}

/* Login box de la help zone */
div#content .help-zone .login-box { padding:10px;}
div#content .help-zone .login-box .hint { text-align:right; padding-right:5px;margin-top:-10px;}
div#content .help-zone .login-box .hint a{color:#CCC;}
* html div#content .help-zone .login-box .hint {width:286px;}

/* Login box de la main zone */
div#content .main .login-box { padding:10px;}
div#content .main .login-box .field label.error{margin:5px 0 5px 140px; border:1px solid red; background: #FFCACB; color:black; clear:both; padding:0 0 0 5px; display:block;}
div#content .main .login-box .hint {margin-top:-5px; margin-left:140px;}
div#content .main .login-box .hint a{color:#CCC;}
* html div#content .help-zone .login-box .hint {width:286px;}
div#content .main .login-box .field label span {width:120px;}

div#content .help-zone .field {clear:none;}
div#content .help-zone .field span {display:block; width:100%; margin:0; text-align:left;}
div#content .help-zone .login-box .field input {width:290px;}
div#content .help-zone .login-box .field label.error {display:block;}
div#content .help-zone .field.error, div#content .col-3 .special .field.error {padding:3px 3px 0;}
div#content .help-zone .login-box .field.error .message, div#content .col-3 .special .field.error .message {padding:0;}

div#content .help-zone p {color:#EEE; margin-bottom:5px;}
div#content .help-zone p span {color:#FFCC00;}
div#content .help-zone p span:first-letter {color:red;}
div#content .help-zone ul { list-style-type:disc; margin-left:20px;}

div#content .action a { display:block; text-align:right; margin-bottom:10px; font-size:1.2em; color:#FFF;}

div#content .download {text-align:center; padding-top:10px;}
div#content .download p {margin-bottom:30px;}
div#content .download a {text-decoration:none; color:#FFF; margin:0 auto; padding-top:65px; display:block; margin-bottom:30px; width:310px; outline:none;}
div#content .download a.download-mirwin {background:url(../images/layout/bg_mirware_windows.png) no-repeat left top;}
* html div#content .download a.download-mirwin {background-image:url(../images/layout/bg_mirware_windows.jpg); height:25px;}
div#content .download a.download-mirmac {background:url(../images/layout/bg_mirware_mac.png) no-repeat left top;}
* html div#content .download a.download-mirmac {background-image:url(../images/layout/bg_mirware_mac.jpg); height:25px;}
div#content .download a.download-mirnux {background:url(../images/layout/bg_mirware_linux.png) no-repeat left top;}
* html div#content .download a.download-mirnux {background-image:url(../images/layout/bg_mirware_linux.jpg); height:25px;}

div#content .beta {color:#DDD; border-style:solid; border-width:1px 1px 1px 10px; border-color:#CCC; padding:5px 5px 5px 15px; background:#777; font-size:0.8em;}
div#content .beta h4 {font-size:1.1em; margin-bottom:5px;}
div#content .beta p {color:#EEE;}
div#content .beta ul {display:block; text-align:center;}
div#content .beta ul li {}

/* Page forgot-password */
div#content .call2action.forgot-pwd {margin-left:220px; text-align:left;}
* html div#content .call2action.forgot-pwd {margin-left:203px;}

/*Sleeping times*/
div#content .main .day-legend {font-weight:bold;}
div#content .main .day {background:#999; padding:5px; margin-bottom:5px;}
div#content .main .day-name {font-size:1.2em; font-weight:bold; left:10px; height:60px; line-height:60px; color:#afafaf; width:150px; float:left;}
div#content .main .day-prog {margin-bottom:5px;}
div#content .main .day-prog label {width:120px; display:block; float:left;}

/*Interests */
div#content .main .interests {width:200px; margin:0 5px; float:left;}
div#content .main .interests li {border:1px solid #666; padding:5px; margin-bottom:5px; background:#CCC}
div#content .main .interests li input {margin-bottom:4px; margin-right:5px; border:none;}
div#content .main .interests li label {display:block; cursor:pointer; color:#666; font-size:1.1em;}

/* Rabbits gallery */
div#content .gallery {margin-left:20px;}
div#content .gallery .box {width:100px; text-align:center; float:left; margin:0 5px 10px 5px;}
div#content .gallery .box img {cursor:pointer; width:100px;}
div#content .gallery .box input {border:none;}

/* Image resize */
div#content .preview {position: relative; overflow: hidden; width: 200px; height: 200px; border:2px solid #ccc; padding:0px; margin:0 auto;}
div#content .legend-resize {color:#eee; width:200px; position:relative; float:left; margin-left:95px;}

/* Tell friends */
.tellfriends {width:400px; height:140px; margin:0 auto; display:block;}

/* Recap */
div#content .main .service-list {list-style: disc; margin-left:20px;}
div#content .main .service-list .service-name {font-weight:bold;}
