<html xmlns:wicket>
<body>
  <wicket:panel>
	<p>Listen to your favorite radio or shoutcast stream!</p>
	<br/>
	<form wicket:id="radioForm">
		<input type="text" wicket:id="listenUrl" size="50" /><br />
		<a href="#"><div wicket:id="listenLink" style="position: relative; margin-left: auto; margin-right: auto; width: 175px; height: 30px; top: 3px; padding-top: 5px; text-align:center ;background: url(../images/abo/bouton.gif)"><span wicket:id="listenLinkText">Start listening</span></div></a>
	</form>
  </wicket:panel>
</body>
</html>