<html xmlns:wicket>
<body>
  <wicket:panel>
	<div wicket:id="nabaztags" style="height: 540px;">
		<ul> 
	        <li style="float: left;" wicket:id="nabaztagList">
	        	<div style="float: left; position: relative; left: 10px;top: 5px;">
	        		<img src="./images/layout/nabz_white.gif">
	        	</div>
	        	<div style="float: right;">
	        		<a href="#name" wicket:id="name">name</a>
	        	</div>
	        </li>
	        <li style="float: right;">
	        	<div style="float: left; position: relative; left: 10px;top: 5px;">
	        		<img src="./images/layout/nabz_green.gif">
	        	</div>
	        	<div style="float: right;">
	        		<a href="#add">Add Nabaztag</a>
	        	</div>
	        </li>
	    </ul> 
	    <div wicket:id="nabaztagContainer">
	    	<p wicket:id="container"></p>
	    </div>
	    <div id="add" wicket:id="addNabaztagContainer">
	    	Add a bunny
	    </div>
	</div>
  </wicket:panel>
</body>
</html>